.apm-price {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.apm-form {
  user-select: none;
}
.apm-form .apm-form-group {
  font-size: 1rem;
  margin: 0 0 1.5rem;
}
.apm-form .apm-form-group > label {
  display: block;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
.apm-form .apm-form-group > label + p {
  margin: 0 0 0.5rem;
}
.apm-form .apm-form-group > label .apm-req {
  color: red;
  font-weight: normal;
}
.apm-form .apm-form-group input[type=text],
.apm-form .apm-form-group input[type=number],
.apm-form .apm-form-group select {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(107, 114, 128);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  height: 3rem;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
}
.apm-form .apm-form-group input[type=text]::placeholder,
.apm-form .apm-form-group input[type=number]::placeholder,
.apm-form .apm-form-group select::placeholder {
  color: rgb(156, 163, 175);
  font-size: 1rem;
}
.apm-form .apm-form-group input[type=text]:focus,
.apm-form .apm-form-group input[type=number]:focus,
.apm-form .apm-form-group select:focus {
  outline: 1px solid blue;
  border-radius: 0;
}
.apm-form .apm-form-group input[type=text] option:not(:first-of-type),
.apm-form .apm-form-group input[type=number] option:not(:first-of-type),
.apm-form .apm-form-group select option:not(:first-of-type) {
  color: rgb(156, 163, 175);
}
.apm-form .apm-form-group select {
  appearance: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="9" viewBox="0 0 15 9"><path fill="%236b7280" fill-rule="nonzero" d="m13.322.265 1.356 1.47L7.5 8.361.322 1.735 1.678.265 7.5 5.639z"/></svg>');
  background-position: right 1rem center;
  background-repeat: no-repeat;
  padding-right: 3rem;
}
.apm-form .apm-form-group input[type=radio],
.apm-form .apm-form-group input[type=checkbox] {
  cursor: pointer;
}
.apm-form .apm-form-group input[type=radio]:focus,
.apm-form .apm-form-group input[type=checkbox]:focus {
  outline: 1px solid blue;
}
.apm-form .apm-form-group input[type=radio] + label,
.apm-form .apm-form-group input[type=checkbox] + label {
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 0.5rem;
}
.apm-form .apm-form-group .apm-range-group {
  padding-bottom: 3rem;
  position: relative;
}
.apm-form .apm-form-group .apm-range-group .apm-range-tooltip {
  align-items: center;
  background-color: rgb(107, 114, 128);
  border: 1px solid rgb(107, 114, 128);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 2rem;
  z-index: 3;
}
.apm-form .apm-form-group .apm-range-group .apm-range-tooltip::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(107, 114, 128);
  box-sizing: border-box;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
}
.apm-form .apm-form-group .apm-range-group .apm-range-trail {
  background: rgb(156, 163, 175);
  box-sizing: border-box;
  bottom: 3rem;
  height: 1rem;
  display: block;
  left: 0;
  position: absolute;
  z-index: 3;
}
.apm-form .apm-form-group .apm-range-group input[type=range] {
  appearance: none;
  background: transparent;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin: 1rem 0 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
.apm-form .apm-form-group .apm-range-group input[type=range]:focus {
  outline: 1px solid blue;
  border-radius: 0;
}
.apm-form .apm-form-group .apm-range-group input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background-color: #FFFFFF;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15"><path fill="%23CCC" fill-rule="evenodd" d="M5 0h2v15H5V0ZM0 2h2v11H0V2Zm10 0h2v11h-2V2Z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid rgb(107, 114, 128);
  border-radius: 0;
  box-sizing: border-box;
  height: 2rem;
  margin-top: -0.5rem;
  position: relative;
  width: 2rem;
  z-index: 3;
}
.apm-form .apm-form-group .apm-range-group input[type=range]::-webkit-slider-runnable-track {
  background: rgb(229, 231, 235);
  height: 1rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.apm-form .apm-form-group .apm-range-group datalist {
  box-sizing: border-box;
  display: flex;
  margin: 1.5rem 0 0 1rem;
  padding-bottom: 1.5rem;
  width: calc(100% - 2rem);
  position: absolute;
  z-index: 1;
}
.apm-form .apm-form-group .apm-range-group datalist option {
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.apm-form .apm-form-group .apm-range-group datalist option::before {
  border-left: 1px solid #CCCCCC;
  content: "";
  display: block;
  height: 2rem;
  left: 50%;
  margin-left: 1px;
  top: -2rem;
  position: absolute;
  width: 1px;
}
.apm-form .apm-radio {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}
.apm-form .apm-radio input[type=radio] {
  appearance: none;
  border: 2px solid rgb(107, 114, 128);
  border-radius: 20px;
  height: 24px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 24px;
}
.apm-form .apm-radio input[type=radio]::after {
  background-color: rgb(107, 114, 128);
  border-radius: 50%;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.15s;
  width: 14px;
}
.apm-form .apm-radio input[type=radio]:checked::after {
  height: 14px;
}
.apm-form .apm-checkbox {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}
.apm-form .apm-checkbox input[type=checkbox] {
  appearance: none;
  border: 2px solid rgb(107, 114, 128);
  height: 24px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 24px;
}
.apm-form .apm-checkbox input[type=checkbox]::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="%23FFFFFF" fill-rule="nonzero" d="m10.278 0 1.665 1.108-6.665 10.017L0 7.372l1.159-1.63L4.756 8.3z"/></svg>');
  background-position: center;
  background-size: 100%;
  border: 0;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  z-index: 1;
}
.apm-form .apm-checkbox input[type=checkbox]::after {
  background-color: rgb(107, 114, 128);
  border: 0;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.15s;
  width: 100%;
  z-index: 0;
}
.apm-form .apm-checkbox input[type=checkbox]:checked::after {
  height: 100%;
}

/*# sourceMappingURL=advanced-product-meta.css.map */
