$black: rgb(0 0 0);
$white:rgb(255 255 255);
$light-gray:rgb(229 231 235);
$medium-gray:rgb(156 163 175);
$dark-gray:rgb(107 114 128);

#advanced-product-meta {
  user-select: none;
    
  .apm-form-group {
    font-size: 1rem;
    margin: 0 0 1.5rem;

    > label {
      display: block;
      font-weight: bold;
      margin: 0 0 .5rem;

      & + p {
        margin: 0 0 .5rem;
      }

      .apm-req {
        color: red;
        font-weight: normal;
      }
    }

    input[type="text"],
    input[type="number"],
    select {
      background-color: $white;
      border: 1px solid $dark-gray;
      border-radius: 0;
      box-sizing: border-box;
      font-size: 1rem;
      height: 3rem;
      margin: 0;
      padding: 0 1rem;
      width: 100%;

      &::placeholder {
        color: $medium-gray;
        font-size: 1rem;
      }

      option:not(:first-of-type) {
        color: $medium-gray;
      }
    }

    select {
      appearance: none;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="9" viewBox="0 0 15 9"><path fill="%236b7280" fill-rule="nonzero" d="m13.322.265 1.356 1.47L7.5 8.361.322 1.735 1.678.265 7.5 5.639z"/></svg>');
      background-position: right 1rem center;
      background-repeat: no-repeat;
      padding-right: 3rem;
    }

    input[type="radio"],
    input[type="checkbox"] {
      cursor: pointer;
      & + label {
        cursor: pointer;
        margin: 0;
        padding: 0 0 0 .5rem;
      }
    }

    input[type="range"] {
      appearance: none;
      background: transparent;
      cursor: pointer;
      display: block;
      height: 1rem;
      margin-top: 1rem;
      position: relative;
      width: 100%;
      z-index: 2;

      &::before {
        background: #CCCCCC;
        content: '';
        height: 100%;
        display: block;
        left: 1rem;
        position: absolute;
        top: 0;
        width: calc(100% - 2rem);
        z-index: -1;
      }
      &::-webkit-slider-thumb {
        appearance: none;
        background-color: #FFFFFF;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15"><path fill="%23CCC" fill-rule="evenodd" d="M5 0h2v15H5V0ZM0 2h2v11H0V2Zm10 0h2v11h-2V2Z"/></svg>');
        background-position: center;
        background-repeat: no-repeat;
        border: 3px solid $dark-gray;
        border-radius: 50%;
        height: 2rem;
        margin-top: -.5rem;
        width: 2rem;
      }
    }

    datalist {
      box-sizing: border-box;
      display: flex;
      margin: 1rem 0 0 1rem;
      padding-bottom: 1rem;
      width: calc(100% - 2rem);
      position: relative;
      z-index: 1;

      option {
        position: absolute;
        text-align: center;
        transform: translate(-50%, 0);

        &::before {
          border-left: 1px solid #CCCCCC;
          content: '';
          display: block;
          height: 2rem;
          left: 50%;
          margin-left: .5px;
          top: -2rem;
          position: absolute;
          width: 1px;
        }
      }
    }
  }

  .apm-radio {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;

    input[type="radio"] {
      appearance: none;
      border: 2px solid $dark-gray;
      border-radius: 20px;
      height: 24px;
      margin: 0;
      padding: 0;
      position: relative;
      width: 24px;

      &::after {
        background-color: $dark-gray;
        border-radius: 50%;
        content: "";
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: height .15s;
        width: 14px;
      }

      &:checked {
        &::after {
          height: 14px;
        }
      }
    }
  }

  .apm-checkbox {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;

    input[type="checkbox"] {
      appearance: none;
      border: 2px solid $dark-gray;
      height: 24px;
      margin: 0;
      padding: 0;
      position: relative;
      width: 24px;

      &::before {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="%23FFFFFF" fill-rule="nonzero" d="m10.278 0 1.665 1.108-6.665 10.017L0 7.372l1.159-1.63L4.756 8.3z"/></svg>');
        background-position: center;
        background-size: 100%;
        content: "";
        display: block;
        height: 14px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        z-index: 1;
      }

      &::after {
        background-color: $dark-gray;
        content: "";
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: height .15s;
        width: 100%;
        z-index: 0;
      }

      &:checked {
        &::after {
          height: 100%;
        }
      }
    }
  }
}
