$white:rgb(255 255 255);
$light-gray:rgb(229 231 235);
$medium-gray:rgb(156 163 175);

#advanced-product-meta {
  user-select: none;
    
  .apm-form-group {
    font-size: 1rem;
    margin: 0 0 1rem;

    > label {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      margin: 0 0 .5rem;

      & + p {
        margin-bottom: .5rem;
      }
    }

    > input[type="text"],
    > input[type="number"],
    > select {
      background-color: $white;
      border: 1px solid $light-gray;
      border-radius: 0;
      box-sizing: border-box;
      height: 3rem;
      margin: 0;
      padding: 0 1rem;
      width: 100%;

      &::placeholder {
        color: $medium-gray;
        font-size: 1rem;
      }

      option:not(:first-of-type) {
        color: $medium-gray;
      }
    }

    input[type="radio"],
    input[type="checkbox"] {
      cursor: pointer;
      & + label {
        cursor: pointer;
      }
    }
  }
}