#advanced-product-meta {
  user-select: none;
}
#advanced-product-meta .apm-form-group {
  font-size: 1rem;
  margin: 0 0 1.5rem;
}
#advanced-product-meta .apm-form-group > label {
  display: block;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
#advanced-product-meta .apm-form-group > label + p {
  margin: 0 0 0.5rem;
}
#advanced-product-meta .apm-form-group > label .apm-req {
  color: red;
  font-weight: normal;
}
#advanced-product-meta .apm-form-group input[type=text],
#advanced-product-meta .apm-form-group input[type=number],
#advanced-product-meta .apm-form-group select {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(107, 114, 128);
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  height: 3rem;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
}
#advanced-product-meta .apm-form-group input[type=text]::placeholder,
#advanced-product-meta .apm-form-group input[type=number]::placeholder,
#advanced-product-meta .apm-form-group select::placeholder {
  color: rgb(156, 163, 175);
  font-size: 1rem;
}
#advanced-product-meta .apm-form-group input[type=text] option:not(:first-of-type),
#advanced-product-meta .apm-form-group input[type=number] option:not(:first-of-type),
#advanced-product-meta .apm-form-group select option:not(:first-of-type) {
  color: rgb(156, 163, 175);
}
#advanced-product-meta .apm-form-group select {
  appearance: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="9" viewBox="0 0 15 9"><path fill="%236b7280" fill-rule="nonzero" d="m13.322.265 1.356 1.47L7.5 8.361.322 1.735 1.678.265 7.5 5.639z"/></svg>');
  background-position: right 1rem center;
  background-repeat: no-repeat;
  padding-right: 3rem;
}
#advanced-product-meta .apm-form-group input[type=radio],
#advanced-product-meta .apm-form-group input[type=checkbox] {
  cursor: pointer;
}
#advanced-product-meta .apm-form-group input[type=radio] + label,
#advanced-product-meta .apm-form-group input[type=checkbox] + label {
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 0.5rem;
}
#advanced-product-meta .apm-form-group input[type=range] {
  appearance: none;
  background: transparent;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-top: 1rem;
  position: relative;
  width: 100%;
  z-index: 2;
}
#advanced-product-meta .apm-form-group input[type=range]::before {
  background: #CCCCCC;
  content: "";
  height: 100%;
  display: block;
  left: 1rem;
  position: absolute;
  top: 0;
  width: calc(100% - 2rem);
  z-index: -1;
}
#advanced-product-meta .apm-form-group input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background-color: #FFFFFF;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15"><path fill="%23CCC" fill-rule="evenodd" d="M5 0h2v15H5V0ZM0 2h2v11H0V2Zm10 0h2v11h-2V2Z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid rgb(107, 114, 128);
  border-radius: 50%;
  height: 2rem;
  margin-top: -0.5rem;
  width: 2rem;
}
#advanced-product-meta .apm-form-group datalist {
  box-sizing: border-box;
  display: flex;
  margin: 1rem 0 0 1rem;
  padding-bottom: 1rem;
  width: calc(100% - 2rem);
  position: relative;
  z-index: 1;
}
#advanced-product-meta .apm-form-group datalist option {
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
}
#advanced-product-meta .apm-form-group datalist option::before {
  border-left: 1px solid #CCCCCC;
  content: "";
  display: block;
  height: 2rem;
  left: 50%;
  margin-left: 1px;
  top: -2rem;
  position: absolute;
  width: 1px;
}
#advanced-product-meta .apm-radio {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}
#advanced-product-meta .apm-radio input[type=radio] {
  appearance: none;
  border: 2px solid rgb(107, 114, 128);
  border-radius: 20px;
  height: 24px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 24px;
}
#advanced-product-meta .apm-radio input[type=radio]::after {
  background-color: rgb(107, 114, 128);
  border-radius: 50%;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.15s;
  width: 14px;
}
#advanced-product-meta .apm-radio input[type=radio]:checked::after {
  height: 14px;
}
#advanced-product-meta .apm-checkbox {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}
#advanced-product-meta .apm-checkbox input[type=checkbox] {
  appearance: none;
  border: 2px solid rgb(107, 114, 128);
  height: 24px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 24px;
}
#advanced-product-meta .apm-checkbox input[type=checkbox]::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="%23FFFFFF" fill-rule="nonzero" d="m10.278 0 1.665 1.108-6.665 10.017L0 7.372l1.159-1.63L4.756 8.3z"/></svg>');
  background-position: center;
  background-size: 100%;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  z-index: 1;
}
#advanced-product-meta .apm-checkbox input[type=checkbox]::after {
  background-color: rgb(107, 114, 128);
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.15s;
  width: 100%;
  z-index: 0;
}
#advanced-product-meta .apm-checkbox input[type=checkbox]:checked::after {
  height: 100%;
}

/*# sourceMappingURL=advanced-product-meta.css.map */
